// App

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
  background-color: $grayDark;
}