// Copyright

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.copyright {
  color: $white;
  font-family: $fontContent;

  &__link {
    color: $white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $blueLight;
    }
  }
}
